sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  is_mac = {{ eq .chezmoi.os "darwin" }}
  is_linux = {{ eq .chezmoi.os "linux" }}
  hostname = {{ .chezmoi.hostname | quote }}

[bitwarden]
  command = "bw"
