# Apply dotfiles
apply:
    chezmoi apply

# Update system packages
upgrade:
{{ if eq .chezmoi.os "darwin" -}}
    brew bundle --file ~/Brewfile
    brew bundle cleanup --file ~/Brewfile --force
    brew upgrade --cask --greedy
{{ else -}}
    paru -Syu
{{ end }}

# Update tmux plugins
tpm-update:
    ~/.tmux/plugins/tpm/bin/update_plugins all

# Full update: apply dotfiles + upgrade packages
update: apply upgrade
