immich.arthurjordao.dev {
    reverse_proxy localhost:2283

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    log {
        output file /var/log/caddy/immich-access.log
        format json
    }
}

dns.arthurjordao.dev {
    reverse_proxy https://localhost:8053 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

music.arthurjordao.dev {
    reverse_proxy localhost:4533

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    log {
        output file /var/log/caddy/music-access.log
        format json
    }
}

slskd.arthurjordao.dev {
    reverse_proxy localhost:5030

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    log {
        output file /var/log/caddy/slskd-access.log
        format json
    }
}

soulsync.arthurjordao.dev {
    reverse_proxy localhost:8008

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    log {
        output file /var/log/caddy/soulsync-access.log
        format json
    }
}

books.arthurjordao.dev {
    reverse_proxy localhost:8083

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    log {
        output file /var/log/caddy/books-access.log
        format json
    }
}
