{{ $fields := (bitwardenFields "item" "mars-secrets") -}}
# Banco de dados
DB_HOSTNAME=localhost
DB_PORT=5432
DB_USERNAME=immich
DB_PASSWORD={{ $fields.IMMICH_DB_PASSWORD.value | quote }}
DB_DATABASE_NAME=immich

# Redis
REDIS_HOSTNAME=localhost
REDIS_PORT=6379

# Imagens
IMMICH_VERSION=release

# Timezone
TZ=America/Sao_Paulo

POSTGRES_USER=immich
POSTGRES_PASSWORD={{ $fields.IMMICH_DB_PASSWORD.value | quote }}
POSTGRES_DB=immich
POSTGRES_INITDB_ARGS=--data-checksums
IMMICH_MACHINE_LEARNING_URL=http://localhost:3003
