{{ $fields := (bitwardenFields "item" "dotfiles-secrets") -}}
set -x LINEAR_TOKEN {{ $fields.LINEAR_TOKEN.value | quote }}
set -x OPENAI_API_KEY {{ $fields.OPENAI_API_KEY.value | quote }}
set -x ANTHROPIC_API_KEY {{ $fields.ANTHROPIC_API_KEY.value | quote }}
set -x LANGCHAIN_API_KEY {{ $fields.LANGCHAIN_API_KEY.value | quote }}
set -x AZURE_SPEECH_KEY {{ $fields.AZURE_SPEECH_KEY.value | quote }}
set -x AZURE_SPEECH_REGION {{ $fields.AZURE_SPEECH_REGION.value | quote }}
set -x MERRIAM_WEBSTER_LEARNERS_API_KEY {{ $fields.MERRIAM_WEBSTER_LEARNERS_API_KEY.value | quote }}
set -x MERRIAM_WEBSTER_COLLEGIATE_API_KEY {{ $fields.MERRIAM_WEBSTER_COLLEGIATE_API_KEY.value | quote }}
set -x PROMPTLAYER_API_KEY {{ $fields.PROMPTLAYER_API_KEY.value | quote }}
set -x HONEYCOMB_API_KEY {{ $fields.HONEYCOMB_API_KEY.value | quote }}
