{{- $op := onepasswordItemFields .secrets.items.silverbullet .secrets.vault -}}
# user:password, the whole login for the web UI. Unquoted: podman's --env-file
# does not strip surrounding quotes.
SB_USER={{ (index $op "SB_USER").value }}
