[Unit]
Description=Kavita Reading Server
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/jvmilazz0/kavita:latest
AutoUpdate=registry
PublishPort=5000:5000

Environment=TZ=America/Sao_Paulo

Volume=kavita-config:/kavita/config
Volume=/mnt/x9pro/books:/books:ro

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
