{{ $fields := (bitwardenFields "item" "mars-secrets") -}}
# Soulseek (rede)
SLSKD_SLSK_USERNAME={{ $fields.SLSKD_SLSK_USERNAME.value | quote }}
SLSKD_SLSK_PASSWORD={{ $fields.SLSKD_SLSK_PASSWORD.value | quote }}

# slskd web UI
SLSKD_USERNAME={{ $fields.SLSKD_WEB_USERNAME.value | quote }}
SLSKD_PASSWORD={{ $fields.SLSKD_WEB_PASSWORD.value | quote }}
