[Unit]
Description=slskd (Soulseek daemon)
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/slskd/slskd:latest
AutoUpdate=registry
PublishPort=5030:5030
PublishPort=50300:50300

Environment=SLSKD_DOWNLOADS_DIR=/downloads
Environment=SLSKD_REMOTE_CONFIGURATION=true
Environment=TZ=America/Sao_Paulo
EnvironmentFile=%h/.config/containers/systemd/music/slskd.env

Volume=/mnt/x9pro/music:/downloads
Volume=slskd-config:/app

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
